@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  overflow-x: hidden;
}

#hero {
  width: 100vw;
  height: 100vh;
  background-image: url("https://imgeng.jagran.com/images/2022/nov/Best%20Cameras%20For%20Photography1669186135779.jpg");
  background-position: center;
  background-size: cover;
}
.hero-content {
 position: absolute;
 top: 35%;
 left: 6%;
}
.hero-content h1 {
  color: white;
  width: 380px;
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-content h1 span {
  color: #00aceb;
}
.hero-content div {
  color: white;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.hero-content div i {
  margin-right: 10px;
  font-size: 28px;
}
.hero-content .last-div {
  margin-bottom: 20px;
}
.hero-content .see-more {
  width: 160px;
  height: 37px;
  font-size: 18px;
  background-color: #00aceb;
  border: none;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.826);
  cursor: pointer;
  transition: 0.3s ease;
}
.hero-content .see-more:hover {
  color: white;
}
.header {
  position: fixed;
  display: flex;
  width: 100%;
  height: 10vh;
  border-bottom: 3px solid #00384c;
  backdrop-filter: blur(50px);
  z-index: 100;
}

.logo {
  display: flex;
  height: 10vh;
  width: 15%;
  justify-content: center;
  align-items: center;
}
.logo i {
  color: #00384c;
  background-color: rgba(255, 255, 255, 0.333);
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease;
}
.logo i:hover {
  background-color: white;
}
.navbar a {
  text-decoration: none;
  position: relative;
  text-decoration: none;
  color: #00384c;
  font-size: 15px;
  font-weight: 500;
}
.navbar a:hover {
  transition: 0.5s;
}
.navbar a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition: transform 0.4s ease;
}
.navbar a:hover::before {
  transform: scaleX(1);
}


.navbar {
  /* background-color: rgba(255, 255, 255, 0.326); */
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  gap: 6%;
}
.icons a {
  /* background-color: green; */
  text-decoration: none;
  color: #fff;
}
.icons {
  display: flex;
  width: 15%;

  justify-content: center;
  align-items: center;
  gap: 10%;
  font-size: 17px;
  z-index: 5000;
}

.facebook {
  transition: 0.5s;
}

.facebook:hover {
  transform: rotateY(180deg);
}

.instagram {
  transition: 0.5s;
}

.instagram:hover {
  transform: rotateY(180deg);
}

.twitter {
  transition: 0.5s;
}

.twitter:hover {
  transform: rotateY(180deg);
}

.youtube {
  transition: 0.5s;
}

.youtube:hover {
  transform: rotateY(180deg);
}

#services {
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.square {
  width: 80%;
}

.square h2,
h3 {
  font-family: 'Raleway', sans-serif;
}
.square h2 {
  font-size: 50px;
  font-weight: lighter;
}
.square p {
  font-family: 'Raleway', sans-serif;
}

.one p {
  color: #656565;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

p {
  padding-top: 10%;
}
.three p {
  font-weight: 400;
  font-size: 27px;
}

h3 {
  padding-top: 5%;
  font-size: 20px;
  opacity: 0.7;
}

.one {
  padding-right: 50px;
  padding-top: 2%;
}

.three {
  padding-left: 50px;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #62bbdc;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #00aceb;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

#gallery {
  margin: 4vh 0;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(500px, 500px));
}

#gallery img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

#about-us {
  height: 100vh;
  width: 100vw;
  padding: 40px 50px 50px 50px;
  display: flex;
  align-items: center;
  background-color: rgba(95, 158, 160, 0.059);
}
  
.about-content {
  width: 50%;
  text-align: center;
  padding-right: 30px;
}
  
  .about-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 18px;
  }
  
  .about-image {
    width: 50%;
    text-align: center;
  }
  
  .about-image img {
    height: auto;
    border-radius: 8px;
  }

  #footer {
    background-color: #00031be6;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 30px;
  }
  
  .container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .container h1 {
      font-size: 40px;
      letter-spacing: 0.6px;
      margin-bottom: 5px;
  }
  .container span {
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.678);
    letter-spacing: 0.3px;
  }
  .search-bar {
    background-color: white;

    width: 40%;
    border-radius: 30px;
    padding: 0 10px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .search-bar input {
    border: none;
    border-radius: 30px;
    font-size: 17px;
  }
  .search-bar input:focus {
   outline: none;
   font-size: 17px;
  }

  .search-bar button {
    margin: 5px 0;
   padding: 14px 33px;
   border-radius: 30px;
   background-color: green;
   border: none;
   font-size: 20px;
   color: white;
   cursor: pointer;
  }
  .footerText {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .designedBy span {
    color: #00aceb;
   font-family: fantasy;
   letter-spacing: 5px;
   font-size: 20px;
  }
  
