body{
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Bitter', serif;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BBDEF0;
    height: 100vh;
}
img{
    width: 600px;
    height: 600px;
    cursor: pointer;
}
.photo{
    margin-left: 150px;
    margin-right: 30px;
}
.content{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    text-align: center;
}
button{
    width: 220px;
    padding: 10px 0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background-color: #e0b1cb49;
    transition: width 1s;
    color: #5f5566c0;
    font-size: 1.2rem;
    -webkit-box-shadow: 22px 32px 30px -16px rgba(43,38,43,1);
-moz-box-shadow: 22px 32px 30px -16px rgba(43,38,43,1);
box-shadow: 22px 32px 30px -16px rgba(43,38,43,1); 
}
button:hover{
    width: 260px;
}
.content h1{
    color: #5F5566;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 60px;
}
h1{
    margin-bottom: 10px;
}
p{
    color: #5F5566;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
}
i{
    margin-left: 5px;
}
.projects{
    margin-bottom: 30px;
}